@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
        @RenderSection("title", false)
        <div id="ticketPanel" class="ticketPanelPlaceholder"></div>
        @RenderSection("content", false)
</div>


@section Scripts{
    <script>

    $(window).ready(function () {

        var jqxhr = $.get("/ExchangeRate/TicketPanel", function (data) {
            var ticketPanel = $('#ticketPanel');
            ticketPanel.fadeOut(400, 'linear', function () {
                ticketPanel.toggleClass("ticketPanelPlaceholder", false)
                ticketPanel.html(data).fadeIn(400, 'linear');
            });

        }).fail(function () {
            console.log("Failed to get ticket panel")
        });
    });
    </script>
    @RenderSection("Scripts",false)
}