@{
    Layout = "~/Views/ExchangeRate/_TicketLayout.cshtml";
}
@section title{
    <div class="row">
        <div class="col justify-content-center d-flex ">
            <h1>Tickets</h1>
        </div>
    </div>
}

@section content{
    <div class="row mt-3 d-flex justify-content-center">
        <div class="mt-2 justify-content-center d-flex  col-12 col-sm-4 col-md-4 col-lg-2">
            <div class="btn btn-outline-dark w-100" id="addTicketBtn">Add ticket</div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="d-flex flex-wrap justify-content-around" id="ticketContainer">

            </div>
        </div>
    </div>

}
@section Scripts{
    <script>
        $(window).ready(function () {
            let container = $('#ticketContainer');
            let ticketPanel = $('#ticketPanel');
          
            App.getTicketPanel(true, ticketPanel, function () {
                App.setDatePickerDefaultDate(new Date(),$('#panelDatePicker'));
                $('#panelDeleteAll').click(function () {
                    container.html("");
                });

                $('#addTicketBtn').click(function () {
                    App.getBankTicket(container, $('#panelDatePicker').val(), $('#panelBankSelect').val());
                });
            });
        });
    </script>
}