@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    BankTickets
</h1>
<div class="row mt-5">
    <div class="col">
        <div class="container tbl" id="ticketTable">
            <div class="row">

            </div>
        </div>
    </div>
</div>