@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid text-center">
    <div class="row mt-3 justify-content-center">
        <div class="col-6">
            <ul class="list-group ">

                <li class="list-group-item"><strong>Sell Table</strong> requires <em>date</em></li>
                <li class="list-group-item"><strong>Buy Table</strong> requires <em>date</em></li>
                <li class="list-group-item"><strong>Best Of Date Table</strong> requires <em>date</em></li>
                <li class="list-group-item"><strong>Recomendation Table</strong> requires <em>date</em></li>
                <li class="list-group-item"><strong>Ticket Table</strong> requires <em>date</em> and bank <em>shortcut</em></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        
        <div class="col-4">
            <input id="datePicker" class="form-control" type="date" />
        </div>

        <div class="col-3" >
            <select class="form-control" id="bankSelect" >
                <option value="CNB">CNB</option>
                <option value="KB">KB</option>
                <option value="CSOB">CSOB</option>
            </select>
        </div>
        <div class="col-4 ">
            <button id="deleteAll" class="btn btn-primary">Delete All</button>
        </div>
    </div>
      
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <button id="buyTableBtn" class="btn btn-primary">Buy Table</button>
        </div>
        <div class="col-2">
            <button id="sellTableBtn" class="btn btn-primary">Sell Table</button>
        </div>
        <div class="col-2">
            <button id="bestTableBtn" class="btn btn-primary">Best of date</button>
        </div>
        <div class="col-3">
            <button id="recomendTableBtn" class="btn btn-primary">Recomendation</button>
        </div>
        <div class="col-2">
            <button id="ticketTableBtn" class="btn btn-primary">Ticket Table</button>
        </div>
        
    </div>

    <div class="row">
        <canvas id="myChart" class="container " height="200"></canvas>
    </div>
    

    

    <div class="row mt-5">
        <div class="col">
            <div class="container tbl" id="bestTable">
                <div class="row">

                </div>
            </div>
        </div>
    </div>

    

    

    <script>


        var config = {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Data2',
                    backgroundColor: "red",
                    borderColor: "red",
                    data: [1, 2, 3, 4
                    ],
                    fill: false,
                }, {
                    label: 'Data2',
                    fill: false,
                    backgroundColor: "blue",
                    borderColor: "blue",
                    data: [4, 3, 2, 1
                    ],
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Example chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };


        var ctx = document.getElementById('myChart').getContext('2d');
        let chart = new Chart(ctx, config);



        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        function removeData(chart) {
            chart.data.labels.pop();
            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update();
        }

        $.ajax({
            type: 'GET',
            //data: requestData,
            url: '/ExchangeRate/BuyTable',
            cache: false,
            success: function (result) {
                $("#buyTable").html(result);
            },
            error: function (xhr, status, error) {
                Console.log(error);
            }
        });

        $.ajax({
            type: 'GET',
            url: '/ExchangeRate/SellTable',
            cache: false,
            success: function (result) {
                $("#sellTable").html(result);
            },
            error: function (xhr, status, error) {
                Console.log(error);
            }
        });

        $.ajax({
            type: 'GET',
            url: '/ExchangeRate/BestOfDateTable',
            cache: false,
            success: function (result) {
                $("#bestTable").html(result);
            },
            error: function (xhr, status, error) {
                Console.log(error);
            }
        });
        $.ajax({
            type: 'GET',
            url: '/ExchangeRate/TicketTable?bankName=CNB',
            cache: false,
            success: function (result) {
                $("#ticketTable").html(result);
            },
            error: function (xhr, status, error) {
                Console.log(error);
            }
        });

        $.ajax({
            type: 'GET',
            url: '/ExchangeRate/RecomendationTable',
            cache: false,
            success: function (result) {
                $("#recomendTable").html(result);
            },
            error: function (xhr, status, error) {
                Console.log(error);
            }
        });


        $.ajax({
            type: 'GET',
            url: '/ExchangeRate/CurrencyGraph',
            data: { isoName: "AUD" },
            cache: false,
            success: function (result) {
                //$("#graph").html(result);
                console.log(result);
                addData(chart, "hello", 7)

            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    </script>



