@{

    Layout = "~/Views/ExchangeRate/_TicketLayout.cshtml";
}

@section title{
    <h1>
        Recommendations
    </h1>
}
@section content{
    <div class="row mt-5">
        <div class="col">
            <div class="container tbl" id="recomendTable">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
}
