@model System.Data.DataTable


    <div class="row">
        <div class="col">
            <h2>@Model.TableName</h2>
        </div>
    </div>
    <div class="row border">
        @foreach (System.Data.DataColumn collumn in Model.Columns)
        {
            <div class="col border"><strong>@collumn.ColumnName</strong></div>
        }

    </div>
    @foreach (System.Data.DataRow row in Model.Rows)
    {
        <div class="row border">
            @foreach (var item in row.ItemArray)
            {
                <div class="col border">@item.ToString()</div>
            }
        </div>
    }


    
