@model List<BCC.Model.Models.BankConnector>

<div class="row mt-3">

    <div class="col justify-content-center d-flex">
        <input id="panelDatePicker" class="form-control" type="date" />
    </div>

    <div class="col justify-content-center d-flex">
        <select class="form-control" id="bankSelect">
            @foreach(BCC.Model.Models.BankConnector item in Model)
            {
                <option value="@item.BankShortName">@item.BankShortName</option>
            }
        </select>
    </div>
    <div class="col-lg-2 col-md-3 justify-content-center d-flex ">
        <button id="panelDeleteAll" class="btn btn-primary">Delete All</button>
    </div>
</div>