@{

    Layout = "~/Views/ExchangeRate/_TicketLayout.cshtml";
}

@section title{
<h1>
    Wholesales
</h1>
}


@section content{
<div class="row mt-3">
    <div class="col justify-content-center d-flex">
        <div class="btn btn-outline-dark  w-50 "  id="buyBtn">Buy</div>
    </div>
    <div class="col justify-content-center d-flex">
        <div class="btn btn-outline-dark w-50" id="sellBtn">Sell</div>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <div class="container tbl" id="buyContainer">
            <div class="row">

            </div>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col">
        <div class="container tbl" id="sellContainer">
            
        </div>
    </div>
</div>

}

@section Scripts{
   <script>
       $(window).ready(function () {

           $('#buyBtn').click(function () {
               $.get({
                   url: "/ExchangeRate/BuyTable",
                   data: {
                       tableDate: $('#panelDatePicker').val()
                   },
                   success: function (result) {
                       $('#buyContainer').append(result).fadeIn(300,"linear");
                   },
                   error: function (err) {
                       console.log(`failed to get a buy ticket:\n${err}`);
                    }

               });
           });
          


        });
   </script>
 }