@{

    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Disclaimer</h1>
    <p>
        This application is under development.
        you can test some functionality
        <a asp-area="" asp-controller="ExchangeRate" asp-action="MixTickets">here</a>.
    </p>
    <p>
        For more information about its functionality you can go here
        <a asp-area="" asp-controller="ExchangeRate" asp-action="Index">here</a>.
    </p>
</div>
