@{

    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Disclaimer</h1>
    <p>This application is under development. you can test some functionality <a href="/ExchangeRate">here</a></p>
</div>
