@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@{

    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Disclaimer</h1>
    <p>
        This application is under development.
        The main functionality can be found in
        you can test some functionality <a asp-area="" asp-controller="ExchangeRate" asp-action="Overview">Overview page</a>.
        Some adittional functionality can be tested in <a asp-area="" asp-controller="ExchangeRate" asp-action="MixTickets">Mix page</a>.

    </p>
    <p>
        For more information about its functionality you can go here
        <a asp-area="" asp-controller="ExchangeRate" asp-action="Index">here</a>.
    </p>
</div>
