<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="bccLocal" connectionString="Data source=localhost;Initial Catalog=BCC;Trusted_Connection=False;User Id=bcc;Password=bcc"/>
    <add name="bccDevelopment" connectionString="Data source=82.208.16.130;Initial Catalog=BCC;Trusted_Connection=False;User Id=bcc;Password=bcc"/>
  </connectionStrings>
</configuration>